
@{
    ViewBag.Title = "About";
    ViewBag.Message = "My Name is Duc";

    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@section SideBar{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Admin1</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Agent Home2</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Your Order3</a>
}
<h2>About</h2>

