

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <title>OurProduct</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark ">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/home/index">Trang Chu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/product">San Pham</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/contact">Lien He</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>Danh Muc San Pham</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                        Thiet Bi Dien Tu
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Thiet Bi Dien Tu2
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Thiet Bi Dien Tu3
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Thuong Hieu Noi Bat</h2>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                        Apple
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        SamSung
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        Thiet Bi Dien Tu3
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
